<ion-card>

  <ion-card-content>

    <div class="user-profile-info d-flex align-items-center justify-content-start">
      <div class="profile-image">
        <img src="https://i.pinimg.com/474x/80/b7/ae/80b7ae96f64171c6059f58d35a5f37da.jpg" alt="user profile image">
      </div>
      <div class="container-info d-flex align-items-center">
        <p class="username">Melissa Adam</p>
        <p class="date-post-info">- 1h</p>
      </div>
    </div>

    <swiper-container slides-per-view="1" loop="false" css-mode="false" pagination="true" centeredSlides="true"
      pagination-dynamic-bullets="true">
      <swiper-slide>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </swiper-slide>
      <swiper-slide>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </swiper-slide>
      <swiper-slide>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </swiper-slide>
    </swiper-container>

    <div class="container-actions flex">
      <div class="flex align-middle actions">
        <!-- <i class="fa-regular fa-heart"></i> -->
        <!-- <i class="fa-solid fa-heart"></i> -->
        <ion-icon name="heart-outline"></ion-icon>
        <p>3</p>
      </div>
      <div class="flex align-middle actions">
        <!-- <i class="fa-solid fa-comment"></i> -->
        <ion-icon name="mail-outline"></ion-icon>
        <p>3</p>
      </div>
    </div>

    <div class="post-data mt-3 mb-3">
      <p class="description mb-3">Watching pic in pic video while scrolling this platform is great</p>
    </div>
  </ion-card-content>
</ion-card>
