<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <div class="container-profile">

    <div class="flex align-middle justify-center">
      <div class="flex flex-col justify-center add-margin-right">
        <h2 class="font-bold">10,5K</h2>
        <p class="text-xs gray-font">Followers</p>
      </div>
      <img class="w-16 h-16 rounded-full" src="https://randomuser.me/api/portraits/women/10.jpg" alt="Rounded avatar">
      <div class="flex justify-center flex-col add-margin-left">
        <h2 class="font-bold">10,5K</h2>
        <p class="text-xs gray-font">Following</p>
      </div>
    </div>

    <div class="flex flex-col justify-center align-items-center container-info-user">
      <h2 class="font-bold">Alexandra Elena</h2>
      <p class="text-xs gray-font">Photographer</p>
    </div>

    <div class="flex align-items-center justify-center container-location">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
      </svg>
      <p class="text-xs gray-font">New York, US</p>
    </div>

    <div class="flex align-items-center justify-center container-user-actions">
      <ion-button shape="round" size="small" class="add-margin-right">Follow</ion-button>
      <ion-button shape="round" fill="outline" size="small">Contact</ion-button>
    </div>

    <div class="divider"></div>


    <div class="grid grid-cols-3 md:grid-cols-3">
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full " src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg" alt="">
      </div>
    </div>

  </div>

</ion-content>
