<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Messages</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-margin-top">
    <ion-item *ngFor="let chatMessage of chatMessages; let index">
      <ion-avatar slot="start">
        <img [src]="chatMessage.user.profileImage" alt="avatar" />
      </ion-avatar>
      <ion-label>
        <div class="flex flex-col align-items-start justify-items-start">
          <h3>{{ chatMessage.user.firstName }} {{ chatMessage.user.lastName }}</h3>
          <p class="notification-title">{{ chatMessage.lastMessage | truncate:10 }}</p>
        </div>
      </ion-label>
      <div class="d-flex flex-column  justify-items-end">
        <p class="createdAt">{{chatMessage.createdAt | timeAgo}}</p>
        <ion-badge class="red-circle" color="danger" *ngIf="chatMessage.isRead === false"></ion-badge>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
